*{
    padding: 0;
    margin: 0;
}


body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.table th, .table td {
    text-align: center;
}

.custom-container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.main{
    height: 90vh;
}

.principal{
    padding: 20%;
}

.customer-card{
    width: 250px;
}